.Qr-container{
  width: 300px;
  height: 450px;
  background-color: var(--white);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 5%;
  padding: 15px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.Qr-image{
  border-radius: 5%;
}

.Qr-title{
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--darkBlue);
  padding: 5px 20px;
}

.Qr-subtitle{
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--grayBlue);
  padding: 5px 20px;
}

.Qr-title,
.Qr-subtitle{
  font-family: 'Outfit';
  text-align: center;
}