:root{
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}

body {
  margin: 0;
  font-family: 'Outfit', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--lightGray);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

p{
  font-size: 15px;
  margin: 0;
  padding: 0;
}
